.chat-container{
    height: calc(100% - 200px)
}

.chat {
    display: grid;
    background-color:#f8f6ff;
    padding: 20px;
}
.leave-room {
    text-align: right;
    margin-bottom: 4px;
}

.user-list {
    background: #f8f6ff;
    width: 400px;
    height: auto;
    min-height: 730px;
    overflow-y: auto;
    margin-right: 2px;
}

.user-list h6{
    color: #212888;
}

.message-container {
    height: 300px;    
    background-color: #f8f6ff; 
    overflow: auto;
    border-radius: 15px;
    margin-bottom: 2px;
}

.user-message {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
    max-width: 650px;
    width:fit-content;
    overflow: hidden;
    margin-left: auto;
}

.message {
    margin: 0px auto 0px auto;
    padding: 5px 15px;
    font-size: 18px;
    color:white;
    border-radius: 20px;
    margin-top: 3px;
    max-width: 650px;
    word-wrap: break-word;
}
.messageFirst {
    background: #b31a85;
}
.messageLast{
    background: #b31a85;
}
.from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
    font-weight: bold;
}

@media only screen and (max-width: 800px){
    .container-message{
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .user-list {
        width: 100%;
        height: 8rem;
        margin-bottom: 2rem;
    }
}