.comunicados-container{
    height: 30rem;
  }
  .comunicados-overflow{
    overflow-y: scroll;
  }
  .comunicados-overflow::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .comunicados-overflow::-webkit-scrollbar:vertical {
    width:10px;
    height: 10px;
  }
  .comunicados-overflow::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  .comunicados-overflow::-webkit-scrollbar-track {
    border-radius: 10px;  
  }

 .comunicados-container .btn-nuevo-comunicado{
    background-color: rgba(45, 47, 133, .9);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px;
  }

  .comunicados-container .btn-nuevo-comunicado:hover{
    background-color: rgba(45, 47, 133, 1);
  }
  

@media only screen and (max-width: 800px) {
  .comunicados-container{
    height: 100% !important;
  }
}