.menuNavBarDocente {
  background: #f5f5f5;
    color: black !important;
    border-bottom: 10px solid #2d2f85;
}

.marginMN {
  margin-left: 15px;
}

.icon-menu {
  width: 40px;
  height: auto;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}

.icon-perfil {
  width: 40px;
  height: auto;
  color: white;
  margin-top: 8px;
  margin-right: 10px;
}

.navBarBrand {
  color: white;
  font-size: 20px;
}
.menuLeft {
  position: absolute;
  right: 100px;
}
.colorBrand {
  margin-left: 20px;
}

.misCursos {
  margin-right: 15px;
  color: white;
}

.escuela1 {
  background-color: grey;
  color: white;
}

.escuela2 {
  background-color: #7980b5;
  color: white;
}

.hr-colorDoc {
  color: #2d2f85;
  background-color: #2d2f85;
  height: 5px;
}
.colorNotificaciones{
    color: cadetblue;
  }

.size{
    font-size: x-large;
  }
.colorDoc {
  color: #2d2f85;
  
}

.border-derecho-docente {
  border-right: 5px solid #2d2f85 !important;
}
.bordes {
  border-radius: 5px;
  border: 3px solid #545251 !important;
  
}

.react-calendar{
  width: 100% !important;
}
 