
    
.login-form{
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 800px;
  padding: 10px;
  margin: auto;
  height: 100%;
  margin-top: 3em;
  }
  
  .logo{
    height: 200px;
    max-width: 330px;
  }

  .login-button{
    width: 100%;
  }
  .logo-container{
    height: 500px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    background: #f5f5f5;
    padding: 50px;
    margin-right: 4em;
  }
  .boton-login{
    background: #555250 !important;
    font-size: 1em;
  }