.menuNavBarDocente {
  background: white;
  color: black !important;
  border-bottom: 6px solid rgba(45, 47, 133, .75);
}

.marginMN {
  margin-left: 15px;
}

.icon-menu {
  width: 40px;
  height: auto;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}

.icon-perfil {
  width: 40px;
  height: auto;
  color: white;
  margin-top: 8px;
  margin-right: 10px;
  background-color: #212888
}

.navBarBrand {
  color: white;
  font-size: 20px;
}
.menuLeft {
  position: absolute;
  right: 100px;
}
.colorBrand {
  margin-left: 20px;
}

.misCursos {
  margin-right: 15px;
  color: white;
}

.escuela1 {
  background-color: grey;
  color: white;
}

.escuela2 {
  background-color: #7980b5;
  color: white;
}

.hr-colorDoc {
  color: #2d2f85;
  background-color: #2d2f85;
  height: 5px;
}
.colorNotificaciones{
    color: cadetblue;
  }

.size{
    font-size: x-large;
  }
.colorDoc {
  color: #2d2f85;
  
}

.border-derecho-docente {
  border-right: 5px solid #2d2f85 !important;
}

.bordes {
  border-radius: 5px;
  border: 2px solid rgba(45, 47, 133, .50) !important;
  /* border-bottom: 6px solid rgba(45, 47, 133, .75); */
}

.tituloDocente{
  color: rgba(45, 47, 133, .75);
}

.card-title-docente{
  color: rgba(45, 47, 133, .9);
  font-size: 1em;
}

/* .react-calendar{
  width: 100% !important;
} */

.fc-toolbar-chunk > .fc-toolbar-title{
  font-size: 1.5em !important;
  display: none;
}

@media screen and (min-width:768px){
  .fc-toolbar-chunk > .fc-toolbar-title{
    display: block;
  }
}

 .bg-docente{
   background: #212888 !important;
 }

 
.video-select {          
  position: relative;
  display: inline-block;
}
 
.video-select::before {
  background-color: #5678EF;
  color: white;
  display: flex;            
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;                
}
 
.video-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;          
}
 
#src-video::before {
  content: 'Cargar video';
}