
  .logo{
    height: auto;
    max-width: 200px;
  }

  .login-container{
    width: 100%;
    max-width: 840px;
    background-color: #f5f5f5;
  }

  .card {
    max-width: 400px;
  }
  
  .title {
    color: #444;
  }
  
  .or {
    text-align: center;
    border-bottom: 2px solid rgb(245 239 239);
    line-height: 0.1em;
    margin: 25px 0;
  }
  
  .or span {
    background: #fff;
    padding: 0 10px;
  }

  
  .cta-btn {
    background-color: #222888;
  }


  @media (min-width: 768px) { 
    .login-container{
      background-color: #f5f5f5;
    }
  }