.btn-accion{
    padding: 0.3rem 1.6rem !important;
}
.color-docente {
    color: #2d2f85;
}
.borde-docente{
    border-bottom: 2px solid #2d2f85;
    width: 100%;
    font-weight: bold;
}
.card-materia-docente{
    border-color: #2d2f85 !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 5px !important;
    background: white !important;
}
.link-escuela-docente-responsive{
    height: 2rem;
    width: 2rem;
}
.icono-escuela-docente-responsive{
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}
@media only screen and (max-width: 800px) {
    .link-escuela-docente-responsive{
        height: 3rem;
        width: 3rem;
    }
    
}
@media only screen and (max-width: 800px){
    .ul.navbar-nav{
      background-color: red !important;
    }
    
}