
.sidebarResponsive{
    display: none;
}


  .nav-responsive-sidebar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_titulo{
  color: "#12263f";
}

.formulario-asignacion{
  max-width: 700px;

}

@media only screen and (max-width: 800px) {

    .ancho1{
      min-width: 260px;
    }

    .menuadmin{
      margin-right: 0px !important;   
    }
    .adminContent{
      display: flex;
      flex-direction: column;
    }
    .nav-responsive-sidebar{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #coco{
      border:none;
    }
    .sidebarResponsive{
      display: inline-flex;
    }
  }