body{
  background-color: #f5f5f5 ;

}
.back{
  height: 100%;
  width: 100%;
}

.login-form{
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
  height: 100%;
}

.logo{
  height: 200px;
  max-width: 330px;

}

.marginMN{
  margin-right: 10px;
}
@media only screen and (max-width: 800px) {
  .iconos-nav{
  float: right !important;
  flex-direction: row !important;
  }
}
.navBarBrand{
  color: white;
  font-size: 20px;
}

.lupa{
  float: right;
  width: 30px;
  height: auto;
  margin-top: 5px;
  margin-right: 25px;
}
@media only screen and (max-width: 800px) {
  .tituloadmin{
    font-size: 25px !important;
  }
}  
.tituloadmin{
  margin-left: 20px;
  font-size: 35px;
}
.menuadmin{
  float: right;
  margin-right: 20px !important;
  margin-top: 5px !important;
  color: white !important;
}
.agregarcurso{
  float: right;
  margin-right: 20px !important;
  margin-top: 5px !important;
  color: black !important 
}
.agregarCurso{
  float: right;
  margin-right: 10px !important;
  margin-top: 25px !important;
  color: black !important 
}

.menu3dots{
  list-style: none;
}

#coco{
  border-left: 1px solid #7e7e7c;
}


@media only screen and (max-width: 800px) {
  .adminContent{
    margin-top: -40px !important;
    border-bottom: #545251 solid 2px;
  }
}
.adminContent{
  margin-top: -60px;
  border-bottom: #545251 solid 2px;
} 

.menuLeft{
  position: absolute;
  right: 100px; 
}
.menuNavBarReg{
  border-bottom: #545251 solid 8px;
}

.colorBrand{
  margin-left: 20px;
  color: #747474;
}
.misCursos{
  margin-right: 10px;
  color: white;
}

.color-nav{
  background-color: firebrick;
}

.cardContainer{
margin-top: 30px;
}

.size{
  font-size: x-large;
}
.hr-color{
  color: #f00;
background-color: #f00;
height: 5px;
}
.hr-colorDoc{
color: #2d2f85;
background-color: #2d2f85;
height: 5px;
}
.colorDoc{
  color: #2d2f85;
 }

.border-derecho {
  border-right: 5px solid #2d2f85 !important;
}
 .bordes{
   border-radius: 5px;
    border: 3px solid #545251!important; }

.colorNotificaciones{
  color: cadetblue;
}

.escuela1{
background-color: grey;
color: white;
}
.escuela2{
background-color: #2d2f85;
color: white;
}
.cardMatematica{
  height: 95%;
  padding: auto;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: salmon;
  color: white;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.cardLiteratura{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: cadetblue;
  color: white;
}

.cardComputacion{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(148, 3, 46);
  color: white;
}
.cardNaturales{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(3, 116, 41);
  color: white;
}
.cardJuegos{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(9, 212, 19);
  color: white;
}
.cardDibujo{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(238, 203, 5);
  color: white;
}
.cardGeografia{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(69, 4, 247);
  color: white;
}
.cardMusica{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(221, 6, 149);
  color: white;
}
.cardCiencia{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(53, 81, 82);
  color: white;
}

.card-materia-tutor{
  border-color: #67a147 !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-radius: 5px !important;
}

.espacio{
  padding-bottom: 30%;
}
.bigIcon{
  width: 60px;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.smallIcon{
  width: 30px;
  height: auto;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.login-button{
  width: 100%;
}

/*css estudiantes asignados*/
.card-docente{
  border: 2px solid #2d2f85 !important;
  border-radius: 5px !important;
}

.borde-avatar-alumno{
  object-fit: cover;
  border: 5px solid #2d2f85 !important;
}
.informes-docentes-container{
  height: 250px;
	width: 200px;
	overflow-y: scroll;
}
.informes-docentes-container::-webkit-scrollbar {
  -webkit-appearance: none;
}
.informes-docentes-container::-webkit-scrollbar:vertical {
  width:10px;
  height: 10px;
}
.informes-docentes-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.informes-docentes-container::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.titulo-docente{
  font-size: 1.7rem;
  color:#2d2f85;
  font-weight: 500;
}
.evenly{
  justify-content: space-evenly;
}
.hr-docente{
  color:#2d2f85;
  background-color: #2d2f85;
  height: 2px;
}
.color-docente{
  color:#2d2f85 !important;
}
.react-calendar{
  font-size: 0.8rem !important;
}
#chart{
  width: 12rem;
}

.colorTab{
  background-color: #545251;
  color: white !important;
}
.Sidebar{
  height: 720px;
  width: 250px;
  border-right: 2px solid lightgray;
  display: initial;
}


.SidebarList{
  height: 100%;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.SidebarList .row{
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.SidebarList .row:hover{
cursor: pointer;
background-color: #797979;
}

.SidebarList #active{
  background-color: #949492;
  }

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%;
}

.video{
  @media only screen and (min-width: 1025px) {
      display: flex;
      align-content: center;
      justify-content: center;
    }
}

.hola{
  background-color: red !important;
}
/*responsive para el pop up del alta en admin*/
@media only screen and (max-width: 800px) {
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.font-size-24{
  font-size: 24px;
}
.active-comunicado{
  background: #EFEFEF;
  color: #212888;
}
button.bg-docente.border.btn.btn-secondary.menuadmin{
  background:#212888 !important;
}