.content-trayectoria {
  position: relative;
  margin-left: 280px;
  left: 0%;
  top: 48%;
}

@media screen and (min-width:576px){
  .content-trayectoria {
    position: absolute;
    left: 50%;
    top: 48%;
    margin-left: 0;
  }
}


.hexagon {
  position: absolute;
  transform: translate(-100%, -220%);
  top: 0;
  left: 0;
  width: 150px; 
  height: 86.60px;
  margin: 43.30px 0;
  font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-weight: bold;
    color: white;
}
.hexagon:before,
.hexagon:after {
  content: "";
    position: absolute;
    width: 0;
    border-left: 75px  solid transparent;
    border-right: 75px  solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 43.30px solid transparent;
}
.hexagon:nth-child(4)::before {
  border-bottom: 43.30px solid #CB7BA0;
} 
.hexagon:nth-child(4)::after {
  border-top: 43.30px solid #CB7BA0;
}
.hexagon:nth-child(1)::before {
  border-bottom: 43.30px solid #C27774;
} 
.hexagon:nth-child(1)::after {
  border-top: 43.30px solid #C27774;
}
.hexagon:nth-child(1) {
  background-color:  #C27774;
}
.hexagon:nth-child(2)::before {
  border-bottom: 43.30px solid #A6A6A6;
} 
.hexagon:nth-child(2)::after {
  border-top: 43.30px solid #A6A6A6;
}
.hexagon:nth-child(2) {
  background-color:  #A6A6A6;
}
.hexagon:nth-child(3)::before {
  border-bottom: 43.30px solid #CB7BA0;
} 
.hexagon:nth-child(3)::after {
  border-top: 43.30px solid #CB7BA0;
}
.hexagon:nth-child(5)::before {
  border-bottom: 43.30px solid #CB7BA0;
} 
.hexagon:nth-child(5)::after {
  border-top: 43.30px solid #CB7BA0;
}
.hexagon:nth-child(6)::before {
  border-bottom: 43.30px solid #546C9D;
} 
.hexagon:nth-child(6)::after {
  border-top: 43.30px solid #546C9D;
}
.hexagon:nth-child(6) {
  background-color:  #546C9D;
}
.hexagon:nth-child(7)::before {
  border-bottom: 43.30px solid #A2C58F;
} 
.hexagon:nth-child(7)::after {
  border-top: 43.30px solid #A2C58F;
}
.hexagon:nth-child(7) {
  background-color:  #A2C58F;
}
.hexagon:after {
  top: 100%;
  width: 0;
  left: 0;
  border-top: 43.30px solid #64C7CC;
}
.hexagon:nth-child(2) {
  left: 230px;
}
.hexagon:nth-child(3) {
  left: -7rem;
  background-color: #CB7BA0 ;
  top: 156px;
}
.hexagon:nth-child(4) {
  background-color: #CB7BA0 ;
  left: 117px;
    top: 157px;
}
.hexagon:nth-child(5) {
  background-color: #CB7BA0 ;
  left: 21rem;
  top: 157px;
}
.hexagon:nth-child(6) {
  top: 311px;
}
.hexagon:nth-child(7) {
  left: 233px;
    top: 311px;
}



.container-trayectoria{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hexagono {
  position: relative;
  display: block;
  background-color: #28affa;
  width: 110px;
  height: 63.9534883721px;
  z-index: 999;
  transition: all 0.5s ease-out;
}
.hexagono:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}
.hexagono::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  transform: rotate(60deg);
  background-color: inherit;
}
.hexagono::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  transform: rotate(-60deg);
  background-color: inherit;
}

.hexagono-content {
  position: absolute;
  z-index: 1000;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
}
.hexagono-content strong {
  display: block;
}

html body{
  background-color: #f9fbfd;
}

.back{
  height: 100%;
  width: 100%;
}

.informe{
background-color:  '#f5f5f5';
width : '400px';
min-height : '297mm';
margin-left : 'auto';
margin-right : 'auto';
}

.login-form{
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
  height: 100%;
}
.hr-color-tutor{
  color: #67a147;
  background-color: #67a147;
  height: 5px; 
}

.logo{
  height: 200px;
  max-width: 330px;

}

.marginMN{
  margin-right: 10px;
}
@media only screen and (max-width: 800px) {
  .iconos-nav{
  float: right !important;
  flex-direction: row !important;
  }
  .formulario-clase-vivo-responsive{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 2rem
  }
  .back.d-flex.justify-content-center.align-items-center.w-100{
    flex-direction: column;
  }
  .logo-container{
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .container-col-derecha{
    width: 90% !important;
  }
}
.navBarBrand{
  color: white;
  font-size: 20px;
}

.lupa{
  float: right;
  width: 30px;
  height: auto;
  margin-top: 5px;
  margin-right: 25px;
}
@media only screen and (max-width: 800px) {
  .tituloadmin{
    font-size: 25px !important;
  }
}  
.tituloadmin{
  /* margin-left: 20px; */
  font-size: 35px;
  color: #12263f;
}

/*
.menuadmin{
  float: right;
  margin-right: 20px !important;
  margin-top: 5px !important;
  color: white !important;
}*/
/* .agregarcurso{
  float: right;
  margin-right: 20px !important;
  margin-top: 5px !important;
  color: black !important 
}
.agregarCurso{
  float: right;
  margin-right: 10px !important;
  margin-top: 25px !important;
  color: black !important 
} */

.menu3dots{
  list-style: none;
}

.menu3dots > a :hover{
  color:#0062cc;
}

#coco{
  border-left: 1px solid #7e7e7c;
}


@media only screen and (max-width: 800px) {
  .adminContent{
    margin-top: -40px !important;
    border-bottom: #545251 solid 2px;
  }
}
.adminContent{
  margin-top: -60px;
  border-bottom: #545251 solid 2px;
} 

.menuLeft{
  position: absolute;
  right: 100px; 
}
.menuNavBarReg{
  border-bottom: #e3ebf6 solid 1px;
  background-color: #fff;
}

.colorBrand{
  margin-left: 20px;
  color: #747474;
}
.misCursos{
  margin-right: 10px;
  color: white;
}

.color-nav{
  background-color: firebrick;
}

.cardContainer{
margin-top: 30px;
}

.size{
  font-size: x-large;
}
.hr-color{
  color: #f00;
background-color: #f00;
height: 5px;
}
.hr-colorDoc{
color: #2d2f85;
background-color: #2d2f85;
height: 5px;
}
.colorDoc{
  color: #2d2f85;
 }

.border-derecho {
  border-right: 5px solid #2d2f85 !important;
}
 .bordes{
   border-radius: 5px;
    border: 3px solid #545251!important; }

.colorNotificaciones{
  color: cadetblue;
}

.escuela1{
background-color: grey;
color: white;
}
.escuela2{
background-color: #2d2f85;
color: white;
}
.cardMatematica{
  height: 95%;
  padding: auto;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: salmon;
  color: white;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.cardLiteratura{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: cadetblue;
  color: white;
}

.cardComputacion{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(148, 3, 46);
  color: white;
}
.cardNaturales{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(3, 116, 41);
  color: white;
}
.cardJuegos{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(9, 212, 19);
  color: white;
}
.cardDibujo{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(238, 203, 5);
  color: white;
}
.cardGeografia{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(69, 4, 247);
  color: white;
}
.cardMusica{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(221, 6, 149);
  color: white;
}
.cardCiencia{
  height: 95%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgb(53, 81, 82);
  color: white;
}

.card-materia-tutor{
  border-color: #67a147 !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-radius: 5px !important;
}

.espacio{
  padding-bottom: 30%;
}
.bigIcon{
  width: 60px;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.smallIcon{
  width: 30px;
  height: auto;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.login-button{
  width: 100%;
}

/*css estudiantes asignados*/
.card-docente{
  border: 2px solid #2d2f85 !important;
  border-radius: 5px !important;
}

.borde-avatar-alumno{
  object-fit: cover;
  border: 5px solid #2d2f85 !important;
}
.informes-docentes-container{
  height: 250px;
	width: 200px;
	overflow-y: scroll;
}
.informes-docentes-container::-webkit-scrollbar {
  -webkit-appearance: none;
}
.informes-docentes-container::-webkit-scrollbar:vertical {
  width:10px;
  height: 10px;
}
.informes-docentes-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.informes-docentes-container::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.titulo-docente{
  font-size: 1.7rem;
  color:#2d2f85;
  font-weight: 500;
}
.evenly{
  justify-content: space-evenly;
}
.hr-docente{
  color:#2d2f85;
  background-color: #2d2f85;
  height: 2px;
}
.color-docente{
  color:#2d2f85 !important;
}
.react-calendar{
  font-size: 0.8rem !important;
}
#chart{
  width: 12rem;
}

/* .colorTab{
  background-color: #545251;
  color: white !important;
} */
.Sidebar{
  /* height: 720px; */
  height: calc(100vh - 65px) ;
  width: auto;/*250px;*/
  /* min-width: 250px; */
  /* border-right: 2px solid #dfe6e9; */
  border-right: 1px solid #e3ebf6;
  display: initial;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}



.main{
  padding-left: 67px;
}

.SidebarList{
  height: 100%;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.SidebarList .row{
  width: 100%;
  /* height: 50px; */
  height: auto;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  

.SidebarList .row>a{
  /* color: #444; */
  /* color: #6e84a3; */
  color: #5D7392;
  font-size: .9em;
}

.SidebarList .row>a:hover{
  color:#000;
}

.SidebarList .row:hover{
cursor: pointer;
}

.row #title{
  flex: 70%;
}

.video{
  @media only screen and (min-width: 1025px) {
      display: flex;
      align-content: center;
      justify-content: center;
    }
}


/*responsive para el pop up del alta en admin*/
@media only screen and (max-width: 800px) {
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.font-size-24{
  font-size: 24px;
}
.active-comunicado{
  background: #EFEFEF;
  color: #212888;
}

/*
button.bg-docente.border.btn.btn-secondary.menuadmin{
  background:#212888 !important;
}

.demo-app-main{
  background-color: #dbdbdb;
}*/

.paleta_bgrojo{
  background-color: #b41715 !important;
}

.paleta_bgazul{
  background-color: #222685 !important;
}

.paleta_bgverde{
  background-color: #36a03c !important;
}

@media only screen and (min-width: 992px) {
  .Sidebar{
    position: relative;
  }

  .ancho1{
    min-width: 260px;
    width: auto;
  }


  .main{
    padding-left: 30px;
  }
}